.App {
  text-align: center;
  padding-top: 90px;
    padding-bottom: 90px;
    background-color: #e1e3eb;
    width: 45%;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
margin-left:400px ;
border-radius: 60px; 
height: 400px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.reg{
  border-radius: 1px; 
  background-color: rgba(152, 178, 178, 0.781);
  height: 5px;
  width: 5px;
  background-color: rgb(193, 174, 174);
  margin-right: 10px;
}
.log{
  border-radius: 1px; 
  background-color: rgb(193, 174, 174);
  height: 5px;
  width: 5px;
  margin-right: 10px;

}
.for{
  border-radius: 1px; 
  background-color: rgb(193, 174, 174);
  height: 5px;
  width: 5px;
  margin-right: 10px;


}
.res{
  border-radius: 1px; 
  background-color: rgb(193, 174, 174);
  height: 5px;
  width: 5px;
  margin-right: 10px;

}
.out{
  border-radius: 1px; 
  background-color: rgb(193, 174, 174);
  height: 5px;
  width: 5px;

}
